#settings-wrapper{
    display: flex;
    display: none;
    width: 100%;
    margin: auto;
    padding-top: 0.5rem;
    height: 100%;
    overflow: scroll;
  }

  .test-topic{
    font-weight: bold;
  }
  .settings-topic{
    /* min-height: 10vh;
    border: 1px solid red; */
  }

  .device-test-wrapper{
    width: 100%;
    /* border: 1px solid red; */
    margin: auto;
  }


  .device-test-output-wrapper{
    display: flex;
    align-items: center;
    border: 2px solid ;
    border-radius: 0.3rem;
    /* justify-self: flex-end; */
  }

  .settings-start-button{
    background-color: #EEEEEE !important;
    border-radius: 0.2rem;
    /* justify-content: flex-start; */
  }

  .device-test-output{
    align-items: center;
    margin: 0px;
    width: 100%;
    padding: 1.5rem;
  }

  .device-test-output:focus{
    border: none!important;
  }

  .camera-test-section{
    /* border: 1px solid red; */
    width: 100%;
  }

  .videoPlayer_wrapper{
    background-color:#3c3c3c !important;
  }

  #test-video{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
  }